
$teal: #418DB6;
$navy: #153962;
$blue: #016EA6;
$seafoam: #2BBFCC;
$sky: #96D9ED;
$green: #73B643;
$lime: #A8C538;
$red: #D42027;
$gold: #D8BC48;
$grey: #979B9F;
$grey-light: #939598;
$grey-dark: #414042;
$black: #231F20;
$orange: #D96427;

$link-color: $navy;

@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



.bg-container {
	background: $navy;
}



header {
	background: url(../img/bg-header.png) bottom center repeat-x;
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
	}
}



// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// calculator container
.calculator-container {
	padding: 0 0 30px;
}



// background colors
.bg-navy { background: $navy; }
.bg-teal { background: $teal; }
.bg-red { background: $red; }
.bg-lime { background: $lime; }
.bg-black { background: $black; }
.bg-seafoam { background: $seafoam; }
.bg-blue { background: $blue; }
.bg-black { background: $black; }
.bg-grey-light { background: $grey-light; }
.bg-grey-dark { background: $grey-dark; }



// text colors
.text-navy { color: $navy; }
.text-teal { color: $teal; }
.text-red { color: $red; }
.text-lime { color: $lime; }
.text-black { color: $black; }
.text-seafoam { color: $seafoam; }
.text-blue { color: $blue; }
.text-black { color: $black; }
.text-grey-light { color: $grey-light; }
.text-grey-dark { color: $grey-dark; }



.intro {
	@include clearfix;
	padding: 20px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.3em;

	h4 {
		padding-bottom: 0;
	}

	@include respond-to( 768px ) {
		padding: 30px 20px 0;
	}

	.btn {
		width: 100%;
		white-space: nowrap;
		text-align: center;
		padding: 10px 0;

		@include respond-to( 1024px ) {
			width: 300px;
		}

		@include respond-to( 768px ) {
			padding: 20px 0;
		}
	}
}


.calculator-container {
	position: relative;
	margin-bottom: 60px;

	&:after {
		content: ' ';
		position: absolute;
		bottom: -65px;
		right: 0;
		left: 0;
		height: 120px;
		background: url(../img/underwater.png) bottom center no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	@include respond-to( 768px ) {
		margin-bottom: 100px;
		&:after { height: 370px; bottom: -110px; }
	}

}


// calculator styles
.calculators {

	.calculator {
		padding: 20px;
		color: white;
		position: relative;

		.third.first {
			text-align: center;
		}

		@include respond-to( 768px ) {
			margin: 20px;
			border-radius: 25px;
			padding: 20px;

			.third { 
				width: 30%;

				&.first {
					width: 40%;

					img {
						margin-top: 20px;
					}
				}
			}
		}

		@include respond-to( 1024px ) {
			margin: 30px 30px 30px 0;
		}


		@include respond-to( 768px ) {
			&.credit, &.loan-auto, &.loan-personal {
				position: relative;
				padding: 20px;
			}
		}


		.rate-display {
			@include clearfix;
			padding-bottom: 20px;
			
			.start {
				display: block;
				text-align: center;
				font-size: 1.2em;
				padding: 0 0 10px 0;
			}

			h2, .end {
				float: left;
				@include font-title;
			}

			h2 {
				width: 60%;
				font-size: 60px;
				line-height: 1.2em;
				padding: 0 10px 0 0;
				text-align: right;

				@include respond-to( 768px ) { width: 78%; }
			}

			.end {
				width: 30%;
				font-size: 17px;
				line-height: 1.2em;

				span {
					font-size: 30px;
				}

				@include respond-to( 768px ) { width: 22%; }
			}
		}

		@include respond-to( 768px ) {
			&.credit:after {
				content: ' ';
				background: url(../img/starfish.png) center center no-repeat;
				width: 100px;
				height: 100px;
				position: absolute;
				right: 30px;
				bottom: -20px;
			}

			&.loan-personal:after {
				content: ' ';
				background: url(../img/fish1.png) center center no-repeat;
				width: 100px;
				height: 100px;
				position: absolute;
				left: -120px;
				bottom: -20px;
			}

			&.loan-auto:before {
				content: ' ';
				background: url(../img/bubbles1.png) center center no-repeat;
				width: 100px;
				height: 100px;
				position: absolute;
				left: -100px;
				bottom: 20px;
			}

			&.credit:before {
				content: ' ';
				background: url(../img/fish2.png) center center no-repeat;
				width: 100px;
				height: 100px;
				position: absolute;
				right: -240px;
				bottom: 100px;
			}

			&.loan-personal:before {
				content: ' ';
				background: url(../img/bubbles2.png) center center no-repeat;
				width: 100px;
				height: 100px;
				position: absolute;
				right: -320px;
				top: 80px;
			}
		}
	}	
}



.aside {
	position: relative;
	padding: 20px 0;
	background: $seafoam;
	
	h3 {
		text-transform: uppercase;
	}

	table {
		width: 100%;

		td {
			padding: 10px;

			&.label {
				@include font-bold;
			}
		}
	}

	@include respond-to( 768px ) {
		margin-top: 20px;
		border-radius: 25px;

		&:after {
			content: ' ';
			background: url(../img/fish2.png) center center no-repeat;
			width: 100px;
			height: 100px;
			position: absolute;
			right: -140px;
			bottom: 20px;
		}

		&:before {
			content: ' ';
			background: url(../img/bubbles2.png) center center no-repeat;
			width: 100px;
			height: 100px;
			position: absolute;
			right: -120px;
			top: -20px;
		}
	}


	@include respond-to( 1024px ) {
		margin-top: 30px;
	}


}



.more-info {
	padding: 20px;
	text-align: center;
	position: relative;
	background: $red;
	color: black;

	@include respond-to( 768px ) {
		padding: 20px;
		margin: 20px;
		border-radius: 25px;
	}

	@include respond-to( 1024px ) {
		margin: 30px 30px 30px 0;
	}

	h3 {
		@include font-title;
		line-height: 1.3em;
		padding: 7px 0;
	}

	p {
		line-height: 1.3em;
		padding: 7px 0;
	}

	a {
		color: white;
	}

}



.error {
	@include font-bold;
	padding: 10px 15px;
	background: $red;
	color: white;
	border-radius: 8px;
	display: none;
}


/*
.refer {
	color: white;
	margin-bottom: 80px;
	position: relative;

	&:after {
		content: ' ';
		position: absolute;
		bottom: -120px;
		right: 0;
		left: 0;
		height: 120px;
		background: url(../img/underwater.png?v=1) bottom center no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	@include respond-to( 768px ) {
		margin-bottom: 160px;
		&:after { height: 370px; bottom: -160px; }
	}

	h3 {
		padding: 10px 20px;
		text-align: center;

		@include respond-to( 768px ) {
			padding: 20px 30px;
		}
	}

	.box {
		padding: 20px;

		@include respond-to( 768px ) {
			margin: 20px;
			border-radius: 25px;
		}

		@include respond-to( 1024px ) {
			margin: 30px;
		}
	}

	.btn {
		margin-top: 20px;
		font-size: 1.6em;
	}
}
*/


// footer styles
.footer-bar {
	@include font-title;
	background: $teal;
	color: white;
	padding: 10px;

	.wrap {
		padding: 30px 0;
		position: relative;
		text-align: center;

		@include respond-to( 600px ) {	
			text-align: right;

			img {
				width: 30%;
			}

			&:after {
				content: ' ';
				position: absolute;
				right: 360px;
				left: 0;
				bottom: -15px;
				height: 300px;
				width: 70%;
				background: url(../img/car.png) left bottom no-repeat;
				background-size: contain;
				pointer-events: none;
			}
		}
	}
}



.btn {
	@include font;
	display: inline-block;
	padding: 10px 15px;
	background: $gold;
	color: $navy;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: 400ms opacity ease-in-out;
	opacity: .8;
	border: 0;
	cursor: pointer;
		
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	&:hover {
		opacity: 1;
	}
}



footer.fineprint {
	padding: 20px;
	font-size: 90%;
	color: #777;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}


